.btn {
  min-width: 100px;
  color:white;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
.highcharts-container {
  z-index: -1 !important ;
}