.btn {
  min-width: 100px;
  color:white;
}


.highcharts-container {
  z-index: -1 !important ;
}
.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 300px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-carousel{
  position: relative;
  z-index: -1;
}

.console-body{
  position: absolute;
  top: 80%;
  margin-left: 17.6%;
  height: 19%;
  width: 80%;
  padding: 2vh;
  background-color: black;
  overflow: scroll;

}
.item{
  position: relative;
  float: left;
  text-align: center;
  width: 10%;
  color:white;
  margin-top:5px;
  border:solid;
  border-color: white;
  border-width: 2px;
}

.console-btn{
  position: absolute;
  top: 1%;
  left: 92%;
}